Origin Client/global_online/origin/x/client/master/LSXWrapper/dev/source/ecommerce2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="entitlements" type="entitlements" />
  <xs:element name="offers" type="offers"/>
  
  <xs:simpleType name="downloadURLType">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_DOWNLOADURLTYPE" value=""/>
      <xs:enumeration id="STAGED" value="staged"/>
      <xs:enumeration id="LIVE" value="live"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="downloadURL">
    <xs:sequence>
      <xs:element type="xs:string" name="buildReleaseVersion" minOccurs="0"/>
      <xs:element type="xs:string" name="buildReleaseNotes" minOccurs="0"/>
      <xs:element type="xs:dateTime" name="effectiveDate" minOccurs="0"/>
      <xs:element type="xs:string" name="buildMetaData" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="downloadURL"/>
    <xs:attribute type="downloadURLType" name="downloadURLType"/>
  </xs:complexType>

  <xs:complexType name="arrayOfDownloadURLs">
    <xs:sequence>
      <xs:element name="downloadURL" type="downloadURL" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="downloadPackageTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="INVALID_DOWNLOAD_PACKAGE" value=""/>
      <xs:enumeration id="DOWNLOAD_IN_PLACE" value="DownloadInPlace"/>
      <xs:enumeration id="SINGLE" value="Single"/>
      <xs:enumeration id="UNPACKED" value="Unpacked"/>
      <xs:enumeration id="EXTERNAL_URL" value="ExternalURL"/>
      <xs:enumeration id="ORIGIN_PLUGIN" value="OriginPlugin"/>
      <xs:enumeration id="UNKNOWN" value="Unknown"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="partnerPlatformEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_PARTNER_PLATFORM" value=""/>
      <xs:enumeration id="STEAM" value="Steam"/>
      <xs:enumeration id="GAMES_FOR_WINDOWS" value="GFWL"/>
      <xs:enumeration id="OTHER_EXTERNAL" value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="oigClientBehaviorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="INVALID_OIG_CLIENT_BEHAVIOR" value=""/>
      <xs:enumeration id="DEFAULT" value="Default"/>
      <xs:enumeration id="OPT_IN" value="OptIn"/>
      <xs:enumeration id="BLACKLIST" value="Blacklist"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="addonDeploymentStrategyEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_ADDONDEPLOYMENTSTRATEGY" value=""/>
      <xs:enumeration id="HOT_DEPLOYABLE" value="Hot Deployable"/>
      <xs:enumeration id="RELOAD_SAVE" value="Reload Save"/>
      <xs:enumeration id="RESTART_GAME" value="Restart Save"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="processorArchitectureEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="DEFAULT_PROCESSOR_ARCHITECTURE" value=""/>
      <xs:enumeration id="PROCESSOR_ARCHITECTURE_32" value="32-bit"/>
      <xs:enumeration id="PROCESSOR_ARCHITECTURE_64" value="64-bit"/>
      <xs:enumeration id="PROCESSOR_ARCHITECTURE_32_AND_64" value="32/64"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="fulfillmentAttributes">
    <xs:sequence>
      <xs:element name="achievementSetOverride" type="xs:string" minOccurs="0" />
      <xs:element name="cloudSaveConfigurationOverride" type="xs:string" minOccurs="0" />
      <xs:element name="commerceProfile" type="xs:string" minOccurs="0" />
      <xs:element name="downloadPackageType" type="downloadPackageTypeEnum" minOccurs="0" default="UNKNOWN"/>
      <xs:element name="downloadSizeOverride" type="xs:long" minOccurs="0" />
      <xs:element name="executeParams" type="xs:string" minOccurs="0" />
      <xs:element name="executePathOverride" type="xs:string" minOccurs="0" />
      <xs:element name="alternateLaunchSoftwareId" type="xs:string" minOccurs="0" />
      <xs:element name="gameLauncherURL" type="xs:string" minOccurs="0" />
      <xs:element name="gameLauncherURL_Integration" type="xs:string" minOccurs="0" />
      <xs:element name="gameLauncherURLClientID" type="xs:string" minOccurs="0" />
      <xs:element name="oigClientBehavior" type="oigClientBehaviorEnum" minOccurs="0" default="DEFAULT"/>
      <xs:element name="installationDirectory" type="xs:string" minOccurs="0" />
      <xs:element name="installCheckOverride" type="xs:string" minOccurs="0" />
      <xs:element name="installerPath" type="xs:string" minOccurs="0" />
      <xs:element name="monitorInstall" type="xs:boolean" minOccurs="0" default="true"/>
      <xs:element name="monitorPlay" type="xs:boolean" minOccurs="0" default="true"/>
      <xs:element name="multiPlayerId" type="xs:string" minOccurs="0" />
      <xs:element name="partnerPlatform" type="partnerPlatformEnum" minOccurs="0" />
      <xs:element name="showKeyDialogOnInstall" type="xs:boolean" minOccurs="0" />
      <xs:element name="showKeyDialogOnPlay" type="xs:boolean" minOccurs="0" />
      <xs:element name="stagingKeyPath" type="xs:string" minOccurs="0" />
      <xs:element name="addonDeploymentStrategy" type="addonDeploymentStrategyEnum" minOccurs="0" default="RESTART_GAME"/>
      <xs:element name="macBundleID" type="xs:string" minOccurs="0" />
      <xs:element name="metadataInstallLocation" type="xs:string" minOccurs="0" />
      <xs:element name="updateNonDipInstall" type="xs:boolean" minOccurs="0" default="false"/>
      <xs:element name="netPromoterScoreBlacklist" type="xs:boolean" minOccurs="0" default="false"/>
      <xs:element name="identityClientIdOverride" type="xs:string" minOccurs="0"/>
      <xs:element name="processorArchitecture" type="processorArchitectureEnum" minOccurs="0" default="DEFAULT_PROCESSOR_ARCHITECTURE"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mdmHierarchies">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="mdmHierarchy" type="mdmHierarchy"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="mdmHierarchy">
    <xs:sequence>
      <xs:element name="mdmMasterTitle" type="mdmMasterTitle"/>
      <xs:element name="mdmFranchise" type="mdmFranchise" />
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="mdmMasterTitle">
    <xs:attribute name="masterTitleId" type="xs:string"/>
    <xs:attribute name="masterTitle" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="mdmFranchise">
    <xs:attribute name="franchiseId" type="xs:string" />
    <xs:attribute name="franchise" type="xs:string" />
  </xs:complexType>
  
  <xs:simpleType name="softwarePlatformEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_SOFTWARE_PLATFORM" value="" />
      <xs:enumeration id="PC" value="PCWIN"/>
      <xs:enumeration id="MAC" value="MAC"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="software">
    <xs:sequence>
      <xs:element name="fulfillmentAttributes" type="fulfillmentAttributes" />
      <xs:element name="downloadURLs" type="arrayOfDownloadURLs" />
      <xs:element name="softwareId" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="softwarePlatform" type="softwarePlatformEnum" use="required" />
  </xs:complexType>

  <xs:complexType name="arrayOfSoftware">
    <xs:sequence>
      <xs:element name="software" type="software" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="locale">
    <xs:attribute type="xs:string" name="value" />
  </xs:complexType>

  <xs:complexType name="arrayOfLocale">
    <xs:sequence>
      <xs:element name="locale" type="locale" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="gameDistributionSubTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_GAME_DISTRIBUTION_SUBTYPE" value=""/>
      <xs:enumeration id="NORMAL_GAME" value="Normal Game"/>
      <xs:enumeration id="DEMO" value="Demo"/>
      <xs:enumeration id="ALPHA" value="Alpha"/>
      <xs:enumeration id="BETA" value="Beta"/>
      <xs:enumeration id="FREE_WEEKEND_TRIAL" value="Free Weekend Trial"/>
      <xs:enumeration id="LIMITED_TRIAL" value="Limited Trial"/>
      <xs:enumeration id="LIMITED_FREE_WEEKEND_TRIAL" value="Limited Free Weekend Trial"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="originDisplayTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NO_ORIGIN_DISPLAY_TYPE" value=""/>
      <xs:enumeration id="FULL_GAME" value="Full Game"/>
      <xs:enumeration id="FULL_GAME_PLUS_EXPANSION" value="Full Game Plus Expansion"/>
      <xs:enumeration id="EXPANSION" value="Expansion"/>
      <xs:enumeration id="ADDON" value="Addon"/>
      <xs:enumeration id="NO_DISPLAY_TYPE" value="None"/>
      <xs:enumeration id="GAME_ONLY" value="Game Only"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="customAttributes">
    <xs:sequence>
      <xs:element name="sortOrderDescending" type="xs:int" minOccurs="0" default="-1"/>
      <xs:element name="imageServer" type="xs:string" minOccurs="0" />
      <xs:element name="extraContentDisplayGroup" type="xs:string" minOccurs="0" />
      <xs:element name="extraContentDisplayGroupSortAsc" type="xs:int" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="publishingAttributes">
    <xs:sequence>
      <xs:element name="cloudSaveContentIDFallback" type="xs:string" minOccurs="0" />
      <xs:element name="contentId" type="xs:string" minOccurs="0" />
      <xs:element name="greyMarketControls" type="xs:boolean" minOccurs="0" />
      <xs:element name="isDownloadable" type="xs:boolean" minOccurs="0" />
      <xs:element name="gameDistributionSubType" type="gameDistributionSubTypeEnum" minOccurs="0" default="NORMAL_GAME"/>
      <xs:element name="originDisplayType" type="originDisplayTypeEnum" minOccurs="1" />
      <xs:element name="trialLaunchDuration" type="xs:int" minOccurs="0" />
      <xs:element name="isPublished" type="xs:boolean" minOccurs="0" />
      <xs:element name="publishedDate" type="xs:dateTime" minOccurs="0" />
      <xs:element name="useLegacyCatalog" type="xs:boolean" minOccurs="0" />
      <xs:element name="forceKillAtOwnershipExpiry" type="xs:boolean" minOccurs="0" />
      <xs:element name="suppressedOfferIds" type="xs:string" minOccurs="0" />
      <xs:element name="twitchClientBlacklist" type="xs:boolean" minOccurs="0" default="false"/>
      <xs:element name="watermarkDownload" type="xs:boolean" minOccurs="0" default="false"/>
      <xs:element name="isPreviewDownload" type="xs:boolean" minOccurs="0" default="false"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publishing">
    <xs:sequence>
      <xs:element name="publishingAttributes" type="publishingAttributes" />
      <xs:element name="softwareList" type="arrayOfSoftware" />
      <xs:element name="softwareLocales" type="arrayOfLocale" />
      <xs:element name="softwareControlDates" type="arrayOfSoftwareControlDate" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="priceOrientationEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="INVALID_PRICE_ORIENTATION" value=""/>
      <xs:enumeration id="LEFT" value="L"/>
      <xs:enumeration id="RIGHT" value="R"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="price">
    <xs:attribute type="xs:double" name="price"/>
    <xs:attribute type="xs:double" name="originalPrice"/>
    <xs:attribute type="xs:string" name="currencyType"/>
    <xs:attribute type="xs:string" name="currency"/>
    <xs:attribute type="xs:string" name="priceType"/>
    <xs:attribute type="xs:string" name="symbol"/>
    <xs:attribute type="xs:string" name="decimalPattern"/>
    <xs:attribute type="priceOrientationEnum" name="orientation"/>
  </xs:complexType>

  <xs:complexType name="arrayOfPrices">
    <xs:sequence>
      <xs:element name="price" type="price" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countryAttributes">
    <xs:sequence>
      <xs:element name="isPurchasable" type="xs:boolean" minOccurs="0" />
      <xs:element name="freeProduct" type="xs:boolean" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="country">
    <xs:sequence>
      <xs:element name="attributes" type="countryAttributes" />
      <xs:element name="prices" type="arrayOfPrices" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="countryCode"/>
  </xs:complexType>

  <xs:complexType name="arrayOfCountry">
    <xs:sequence>
      <xs:element name="country" type="country" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countryCurrencyByIP">
    <xs:sequence>
      <xs:element name="country" type="xs:string" />
      <xs:element name="currencyCountry" type="xs:string" />
      <xs:element name="currency" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="flattenIsPurchasableCountryAttribute">
    <xs:attribute type="xs:string" name="countryCode"/>
    <xs:attribute type="xs:boolean" name="value"/>
  </xs:complexType>
  
  <xs:complexType name="flattenBlockUnderageUsersCountryAttribute">
    <xs:attribute type="xs:string" name="countryCode"/>
    <xs:attribute type="xs:boolean" name="value"/>
  </xs:complexType>
  
  <xs:complexType name="flattenFreeProductCountryAttribute">
    <xs:attribute type="xs:string" name="countryCode"/>
    <xs:attribute type="xs:boolean" name="value"/>
  </xs:complexType>
  
  <xs:complexType name="flattenPriceCountryAttribute">
    <xs:attribute type="xs:string" name="countryCode"/>
    <xs:attribute type="xs:double" name="price"/>
    <xs:attribute type="xs:double" name="originalPrice"/>
    <xs:attribute type="xs:string" name="currencyType"/>
    <xs:attribute type="xs:string" name="currency"/>
    <xs:attribute type="xs:string" name="priceType"/>
    <xs:attribute type="xs:string" name="symbol"/>
    <xs:attribute type="xs:string" name="decimalPattern"/>
    <xs:attribute type="priceOrientationEnum" name="orientation"/>
  </xs:complexType>
  
  <xs:complexType name="flattenCountryAttributes">
    <xs:sequence>
      <xs:element name="isPurchasable" type="flattenIsPurchasableCountryAttribute" minOccurs="0"/>
      <xs:element name="freeProduct" type="flattenFreeProductCountryAttribute" minOccurs="0"/>
      <xs:element name="price" type="flattenPriceCountryAttribute" minOccurs="0"/>
      <xs:element name="blockUnderageUsers" type="flattenBlockUnderageUsersCountryAttribute" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="localizableAttributes">
    <xs:sequence>
      <xs:element name="oigBrowserDefaultURL" type="xs:string" minOccurs="0" />
      <xs:element name="longDescription" type="xs:string" minOccurs="0" />
      <xs:element name="gameManualURL" type="xs:string" minOccurs="0" />
      <xs:element name="displayName" type="xs:string" minOccurs="0" />
      <xs:element name="shortDescription" type="xs:string" minOccurs="0" />
      <xs:element name="originSdkImage" type="xs:string" minOccurs="0" />
      <xs:element name="backgroundImage" type="xs:string" minOccurs="0" />
      <xs:element name="packArtSmall" type="xs:string" minOccurs="0" />
      <xs:element name="packArtMedium" type="xs:string" minOccurs="0" />
      <xs:element name="packArtLarge" type="xs:string" minOccurs="0" />
      <xs:element name="preAnnouncementDisplayDate" type="xs:string" minOccurs="0" />
      <xs:element name="extraContentDisplayGroupDisplayName" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="softwareControlDate">
    <xs:attribute type="xs:dateTime" name="useEndDate"/>
    <xs:attribute type="xs:dateTime" name="releaseDate"/>
    <xs:attribute type="xs:dateTime" name="downloadStartDate"/>
    <xs:attribute name="platform" type="softwarePlatformEnum" use="required" />
  </xs:complexType>
  
  <xs:complexType name="arrayOfSoftwareControlDate">
    <xs:sequence>
      <xs:element name="softwareControlDate" type="softwareControlDate" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="baseAttributes" >
    <xs:sequence>
      <xs:element name="platform" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="offerTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="INVALID_OFFERTYPE" value=""/>
      <xs:enumeration id="BASE_GAME" value="Base Game"/>
      <xs:enumeration id="DEMO_OFFER" value="Demo"/>
      <xs:enumeration id="EXTRA_CONTENT" value="Extra Content"/>
      <xs:enumeration id="FICTIONAL_CURRENCY" value="Fictional Currency"/>
      <xs:enumeration id="BUNDLE" value="Bundle"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ecommerceAttributes">
    <xs:sequence>
      <xs:element type="xs:string" name="cdnAssetRoot" minOccurs="0" />
      <xs:element type="xs:boolean" name="originStorePreview" minOccurs="0" />
      <xs:element type="xs:boolean" name="isOwned" minOccurs="0" />
      <xs:element type="xs:boolean" name="isDisplayable" minOccurs="0" default="true" />
      <xs:element type="xs:boolean" name="userCanPurchase"  minOccurs="0" />
      <xs:element type="xs:boolean" name="addonsAvailable" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="productAssociation">
    <xs:sequence>
      <xs:element type="xs:int" name="sequenceNum" minOccurs="0" />
      <xs:element type="xs:string" name="productName" minOccurs="0" />
      <xs:element type="xs:string" name="productType" minOccurs="0" />
      <xs:element type="xs:string" name="productId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="arrayOfProductAssociations">
    <xs:sequence>
      <xs:element name="productAssociation" type="productAssociation" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="association">
    <xs:sequence>
      <xs:element name="productAssociations" type="arrayOfProductAssociations" />
    </xs:sequence>
    <!-- XXX - possible enum values for associationType? -->
    <xs:attribute type="xs:string" name="associationType"/>
  </xs:complexType>
  
  <xs:complexType name="offer">
    <xs:sequence>
      <xs:element type="xs:dateTime" name="serverResponseDate"/>
      <xs:element type="xs:string" name="financeId" minOccurs="0" />
      <xs:element type="xs:string" name="defaultLocale" minOccurs="0" />
      <xs:element name="countries" type="arrayOfCountry" />
      <xs:element name="baseAttributes" type="baseAttributes" />
      <xs:element name="customAttributes" type="customAttributes" />
      <xs:element name="countryAttributes" type="flattenCountryAttributes" minOccurs="0"/>
      <xs:element name="localizableAttributes" type="localizableAttributes" />
      <xs:element name="publishing" type="publishing" />
      <xs:element name="mdmHierarchies" type="mdmHierarchies" />
      <xs:element name="ecommerceAttributes" type="ecommerceAttributes" />
      <xs:element name="association" type="association" />
      <xs:element name="entitlements" type="entitlements" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:int" name="revision"/>
    <xs:attribute type="xs:string" name="internalName"/>
    <xs:attribute type="offerTypeEnum" name="offerType"/>
    <xs:attribute type="xs:string" name="offerId"/>
    <xs:attribute type="xs:long" name="batchTime" />
  </xs:complexType>

  <xs:simpleType name="originPermissionsEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NORMAL" value="0"/>
      <xs:enumeration id="EARLY_ACCESS_1102" value="1"/>
      <xs:enumeration id="EARLY_ACCESS_1103" value="2"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="entitlementStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="INVALID_ENTITLEMENT_STATUS" value=""/>
      <xs:enumeration id="ACTIVE" value="ACTIVE"/>
      <xs:enumeration id="DISABLED" value="DISABLED"/>
      <xs:enumeration id="NO_ENTITLEMENT" value="NO_ENTITLEMENT"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="entitlementStatusReasonCodeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NONE" value=""/>
      <xs:enumeration id="SUBSCRIPTION_EXPIRED" value="SUBSCRIPTION_EXPIRED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="externalTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration id="NONE" value=""/>
      <xs:enumeration id="SUBSCRIPTION" value="SUBSCRIPTION"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="entitlement">
    <xs:sequence>
      <xs:element type="xs:long" name="entitlementId" minOccurs="0" />
      <xs:element type="xs:string" name="offerId" minOccurs="0" />
      <xs:element type="xs:string" name="groupName" minOccurs="0" />
      <xs:element type="xs:string" name="entitlementTag" minOccurs="0" />
      <xs:element type="xs:dateTime" name="grantDate" minOccurs="0" />
      <xs:element type="xs:dateTime" name="terminationDate" minOccurs="0"/>
      <xs:element type="entitlementStatusEnum" name="status" minOccurs="0" default="NO_ENTITLEMENT"/>
      <xs:element type="entitlementStatusReasonCodeEnum" name="statusReasonCode" minOccurs="0" default="NONE"/>
      <xs:element type="xs:int" name="useCount" minOccurs="0" />
      <xs:element type="xs:string" name="entitlementType" minOccurs="0" />
      <xs:element type="originPermissionsEnum" name="originPermissions" minOccurs="0" />
      <xs:element type="xs:string" name="cdKey" minOccurs="0" />
      <xs:element type="xs:string" name="entitlementSource" minOccurs="0" />
      <xs:element type="externalTypeEnum" name="externalType" minOccurs="0" />
      <xs:element type="xs:string" name="externalId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entitlements">
    <xs:sequence>
      <xs:element name="entitlement" type="entitlement" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="originCountry"/>
    <xs:attribute type="xs:int" name="schemaVersion"/>
    <xs:attribute type="xs:dateTime" name="serverResponseDate"/>
  </xs:complexType>

  <xs:complexType name="offers">
    <xs:sequence>
      <xs:element name="offer" type="offer" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute type="xs:int" name="schemaVersion"/>
    <xs:attribute type="xs:string" name="originCountry"/>
    <xs:attribute type="xs:dateTime" name="serverResponseDate"/>
    <xs:attribute type="xs:long" name="batchTime" />
  </xs:complexType>
  
</xs:schema>
