Origin Client/global_online/origin/x/client/master/LSXWrapper/dev/source/ecommerce.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ecommerce" xmlns:tns="ecommerce">
    
    <xs:complexType name="attribute">
        <xs:attribute type="xs:string" name="value"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="locale"/>
    </xs:complexType>

    <xs:complexType name="ArrayOfAttributes">
        <xs:sequence>
            <xs:element name="attribute" type="tns:attribute" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="product">
        <xs:attribute type="xs:int" name="sequenceNum"/>
        <xs:attribute type="xs:string" name="productName"/>
        <xs:attribute type="xs:string" name="productType"/>
        <xs:attribute type="xs:string" name="productId"/>
    </xs:complexType>
    
    <xs:complexType name="association">
        <xs:sequence>
            <xs:element name="product" type="tns:product" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="associationType"/>
    </xs:complexType>

    <xs:complexType name="ArrayOfAssociations">
        <xs:sequence>
            <xs:element name="association" type="tns:association" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="countryDate">
        <xs:attribute type="xs:string" name="timezone"/>
        <xs:attribute type="xs:string" name="downloadStartDate"/>
        <xs:attribute type="xs:string" name="preloadStartDate"/>
        <xs:attribute type="xs:string" name="country"/>
    </xs:complexType>

    <xs:complexType name="ArrayOfCountryDates">
        <xs:sequence>
            <xs:element name="countryDate" type="tns:countryDate" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="locale">
        <xs:attribute type="xs:string" name="value"/>
    </xs:complexType>

    <xs:complexType name="ArrayOfLocale">
        <xs:sequence>
            <xs:element name="locale" type="tns:locale" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="mdmPlatform">
        <xs:attribute type="xs:string" name="interfacePlatform"/>
        <xs:attribute type="xs:int" name="interfacePlatformId"/>
    </xs:complexType>

    <xs:complexType name="mdmMasterTitle">
        <xs:attribute type="xs:string" name="masterTitle"/>
        <xs:attribute type="xs:int" name="masterTitleId"/>
    </xs:complexType>

    <xs:complexType name="mdmFranchise">
        <xs:attribute type="xs:string" name="franchise"/>
        <xs:attribute type="xs:int" name="franchiseId"/>
    </xs:complexType>

    <xs:complexType name="mdmHierarchy">
        <xs:sequence>
            <xs:element name="mdmInterfacePlatform" type="tns:mdmPlatform" />
            <xs:element name="mdmMasterTitle" type="tns:mdmMasterTitle" />
            <xs:element name="mdmFranchise" type="tns:mdmFranchise" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Offer">
        <xs:sequence>
            <xs:element type="xs:string" name="platForm"/>
            <xs:element type="xs:string" name="status"/>
            <xs:element type="xs:int" name="financeId"/>
            <xs:element type="xs:int" name="projectNumber"/>
            <xs:element name="attributes" type="tns:ArrayOfAttributes" />
            <xs:element name="publishingAttributes" type="tns:ArrayOfAttributes" />
            <xs:element name="associations" type="tns:ArrayOfAssociations" />
            <xs:element type="xs:string" name="promotions" nillable="true"/>
            <xs:element type="xs:string" name="parentContentId"/>
            <xs:element type="xs:string" name="cdnAssetRoot"/>
            <xs:element name="countryDates" type="tns:ArrayOfCountryDates" />
            <xs:element name="supportedLocales" type="tns:ArrayOfLocale" />
            <xs:element type="xs:string" name="originStorePreview"/>
            <xs:element type="xs:string" name="manual"/>
            <xs:element type="xs:string" name="manual_Mac"/>
            <xs:element name="mdmHierarchy" type="tns:mdmHierarchy" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="childContentProjectNumbers"/>
        <xs:attribute type="xs:string" name="bundleType"/>
        <xs:attribute type="xs:string" name="productType"/>
        <xs:attribute type="xs:string" name="productName"/>
        <xs:attribute type="xs:string" name="productId"/>
    </xs:complexType>


    <xs:complexType name="entitlement">
        <xs:sequence>
            <xs:element type="xs:long" name="entitlementId"/>
            <xs:element type="xs:int" name="version"/>
            <xs:element type="xs:string" name="groupName"/>
            <xs:element type="xs:string" name="productId"/>
            <xs:element type="xs:string" name="projectId"/>
            <xs:element name="product" type="tns:Offer" />
            <xs:element type="xs:string" name="productCatalog"/>
            <xs:element type="xs:string" name="entitlementTag"/>
            <xs:element type="xs:string" name="grantDate"/>
            <xs:element type="xs:string" name="terminationDate"/>
            <xs:element type="xs:string" name="status"/>
            <xs:element type="xs:string" name="statusReasonCode"/>
            <xs:element type="xs:int" name="useCount"/>
            <xs:element type="xs:string" name="userUri"/>
            <xs:element type="xs:string" name="entitlementSource"/>
            <xs:element type="xs:string" name="entitlementType"/>
            <xs:element type="xs:int" name="originPermissions"/>
            <xs:element type="xs:int" name="signatureIndex"/>
            <xs:element type="xs:string" name="cdKey"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ArrayOfEntitlements">
        <xs:sequence>
            <xs:element name="entitlement" type="tns:entitlement" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
        
    <xs:complexType name="SignatureType">
        <xs:sequence>
            <xs:element type="xs:string" name="content"/>
            <xs:element type="xs:string" name="signature"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="entitlements">
        <xs:sequence>
            <xs:element name="nucleusEntitlements" type="tns:ArrayOfEntitlements" />
            <xs:element name="entitlementsSignature" type="tns:SignatureType" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="originCountry"/>
    </xs:complexType>
</xs:schema>
