Origin Client/global_online/origin/x/client/master/LSXWrapper/dev/source/SrvProtocolSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SrvProtocolSchema"  targetNamespace="server" xmlns:tns="server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="attribute">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ArrayOfAttributes">
    <xs:sequence>
      <xs:element name="attribute" type="tns:attribute" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="productCatalogType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="SKUD" value="0" />
      <xs:enumeration id="OFB" value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statusType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="ACTIVE" value="0" />
      <xs:enumeration id="DISABLED" value="1" />
      <xs:enumeration id="PENDING" value="2" />
      <xs:enumeration id="DELETED" value="3" />
      <xs:enumeration id="BANNED" value="4" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="statusReasonCodeType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="NONE" value="0" />
      <xs:enumeration id="REGISTERED" value="1" />
      <xs:enumeration id="PROMOTIONAL" value="2" />
      <xs:enumeration id="COMPENSATION" value="3" />
      <xs:enumeration id="REPLACEMENT" value="4" />
      <xs:enumeration id="TECHNICAL" value="5" />
      <xs:enumeration id="UNREGISTERED" value="6" />
      <xs:enumeration id="MISCONDUCT" value="7" />
      <xs:enumeration id="BILLING" value="8" />
      <xs:enumeration id="FRAUD" value="9" />
      <xs:enumeration id="PARENTAL_REQUEST" value="10" />
      <xs:enumeration id="OPT_OUT" value="11" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="entitlementTypeType">
    <xs:restriction base="xs:int">
      <xs:enumeration id="ONLINE_ACCESS" value="0" />
      <xs:enumeration id="PARENTAL_APPROVAL" value="2" />
      <xs:enumeration id="DEFAULT" value="3" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="entitlement">
    <xs:sequence>
      <xs:element name="entitlementId" type="xs:string" />
      <xs:element name="version" type="xs:int" />
      <xs:element name="groupName" type="xs:string" />
      <xs:element name="productId" type="xs:string" />
      <xs:element name="productCatalog" type="tns:productCatalogType" />
      <xs:element name="entitlementTag" type="xs:string" />
      <xs:element name="grantDate" type="xs:dateTime" />
      <xs:element name="terminationDate" type="xs:dateTime" />
      <xs:element name="status" type="tns:statusType" />
      <xs:element name="statusReasonCode" type="tns:statusReasonCodeType" />
      <xs:element name="useCount" type="xs:int" />
      <xs:element name="userUri" type="xs:string" />
      <xs:element name="entitlementSource" type="xs:string" />
      <xs:element name="entitlementType" type="tns:entitlementTypeType" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfEntitlements">
    <xs:sequence>
      <xs:element name="entitlement" type="tns:entitlement" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pricepoint">
    <xs:attribute name="locale" type="xs:string" />
    <xs:attribute name="price" type="xs:double"/>
    <xs:attribute name="currencyType" type="xs:string"/>
    <xs:attribute name="currency" type="xs:string"/>
    <xs:attribute name="priceType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="pricePoints">
    <xs:sequence>
      <xs:element name="pricepoint" type="tns:pricepoint" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="freeProduct" type="xs:boolean"/>
  </xs:complexType>


  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="platForm" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element name="financeId" type="xs:string" />
      <xs:element name="projectNumber" type="xs:int" />
      <xs:element name="attributes" type="tns:ArrayOfAttributes" />
      <xs:element name="pricePoints" type="tns:pricePoints" />
      <xs:element name="products" type="tns:ArrayOfProducts" />
    </xs:sequence>
    <xs:attribute name="canPurchase" type="xs:boolean"/>
    <xs:attribute name="isOwned" type="xs:boolean"/>
    <xs:attribute name="productType" type="xs:string" />
    <xs:attribute name="productName" type="xs:string" />
    <xs:attribute name="productId" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ArrayOfProducts">
    <xs:sequence>
      <xs:element name="product" type="tns:product" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="category">
    <xs:sequence>
      <xs:element name="attributes" type="tns:ArrayOfAttributes"/>
      <xs:element name="categories" type="tns:ArrayOfCategories"/>
    </xs:sequence>
    <xs:attribute name="productCount" type="xs:int" />
    <xs:attribute name="categoryType" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="categoryId" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ArrayOfCategories">
    <xs:sequence>
      <xs:element name="category" type="tns:category" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="catalog">
    <xs:sequence>
      <xs:element name="internalName" type="xs:string" />
      <xs:element name="currencyType" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element name="attributes" type="tns:ArrayOfAttributes" />
      <xs:element name="categories" type="tns:ArrayOfCategories" />
    </xs:sequence>
    <xs:attribute name="catalogName" type="xs:string"/>
    <xs:attribute name="catalogId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ArrayOfCatalogs">
    <xs:sequence>
      <xs:element name="catalog" type="tns:catalog" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="store" >
    <xs:sequence>
      <xs:element name="title" type="xs:string"/>
      <xs:element name="status" type="xs:string" />
      <xs:element name="attributes" type="tns:ArrayOfAttributes"/>
      <xs:element name="catalogs" type="tns:ArrayOfCatalogs"/>
    </xs:sequence>
    <xs:attribute name="storeName" type="xs:string"/>
    <xs:attribute name="storeId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="walletAccount">
    <xs:sequence>
      <xs:element name="accountId" type="xs:string" />
      <xs:element name="source" type="xs:string" />
      <xs:element name="ipAddress" type="xs:string" />
      <xs:element name="status" type="xs:string" />
      <xs:element name="userUri" type="xs:string" />
      <xs:element name="dateCreated" type="xs:dateTime" />
      <xs:element name="dateModified" type="xs:dateTime" />
      <xs:element name="currency" type="xs:string" />
      <xs:element name="balance" type="xs:long" />
      <xs:element name="lowBalanceThreshold" type="xs:string" />
      <xs:element name="notifyLowBalance" type="xs:string" />
      <xs:element name="deleted" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="billingaccounts">
    <xs:sequence>
      <xs:element name="walletAccount" type="tns:walletAccount" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="walletTransaction">
    <xs:sequence>
      <xs:element name="billingaccountUri" type="xs:string" />
      <xs:element name="total" type="xs:long" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lineItem">
    <xs:sequence>
      <xs:element name="itemId" type="xs:string"/>
      <xs:element name="productId" type="xs:string"/>
      <xs:element name="financeId" type="xs:string"/>
      <xs:element name="productCatalog" type="xs:string"/>
      <xs:element name="itemType" type="xs:string"/>
      <xs:element name="quantity" type="xs:int"/>
      <xs:element name="unitPrice" type="xs:int"/>
      <xs:element name="listUnitPrice" type="xs:int"/>
      <xs:element name="subTotal" type="xs:int"/>
      <xs:element name="listSubTotal" type="xs:int"/>
      <xs:element name="total" type="xs:int"/>
      <xs:element name="taxes" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfLineItems">
    <xs:sequence>
      <xs:element name="lineItem" type="tns:lineItem" maxOccurs="unbounded" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="invoice">
    <xs:sequence>
      <xs:element name="invoiceId" type="xs:unsignedLong" />
      <xs:element name="invoiceUuid" type="xs:string" />
      <xs:element name="ipAddress" type="xs:string" />
      <xs:element name="source" type="xs:string" />
      <xs:element name="locale" type="xs:string" />
      <xs:element name="transactionType" type="xs:string" />
      <xs:element name="invoiceDate" type="xs:dateTime" />
      <xs:element name="billingaccountUri" type="xs:string" />
      <xs:element name="walletTransaction" type="tns:walletTransaction" />
      <xs:element name="currency" type="xs:string" />
      <xs:element name="subtotal" type="xs:long" />
      <xs:element name="listSubtotal" type="xs:long" />
      <xs:element name="total" type="xs:long" />
      <xs:element name="status" type="xs:string" />
      <xs:element name="isRefundable" type="xs:boolean" />
      <xs:element name="taxStatus" type="xs:string" />
      <xs:element name="taxStrategy" type="xs:string" />
      <xs:element name="lineItems" type="tns:ArrayOfLineItems" />
      <xs:element name="dateCreated" type="xs:dateTime" />
      <xs:element name="dateModified" type="xs:dateTime" />
      <xs:element name="dateSettled" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfInvoices">
    <xs:sequence>
      <xs:element name="invoice" type="tns:invoice" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="checkout">
    <xs:sequence>
      <xs:element name="invoices" type="tns:ArrayOfInvoices" />
      <xs:element name="entitlements" type="tns:ArrayOfEntitlements" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Achievement">
    <!--last updated epoch timestamp-->
    <xs:attribute name="u" type="xs:long" />
    <!--expiry epoch timestamp, negative for no expiry-->
    <xs:attribute name="e" type="xs:long" />
    <!--progress points toward goal-->
    <xs:attribute name="p" type="xs:int" />
    <!--total points required-->
    <xs:attribute name="t" type="xs:int" />
    <!--# of times awarded, omitted if zero-->
    <xs:attribute name="cnt" type="xs:int" />
    <xs:attribute name="img" type="xs:string" />
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="desc" type="xs:string" />
    <xs:attribute name="howto" type="xs:string" />
    <!--experience points awarded when achieved-->
    <xs:attribute name="xp" type="xs:int" />
    <xs:attribute name="xp_t" type="xs:string" />
    <!--reward points awarded when achieved-->
    <xs:attribute name="rp" type="xs:int" />
    <xs:attribute name="rp_t" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="Progress">
    <xs:attribute name="experience" type="xs:int" />
    <xs:attribute name="rewardPoints" type="xs:int" />
    <xs:attribute name="achievements" type="xs:int" />
  </xs:complexType>

  <xs:complexType name="AchievementNotificationPayload">
    <xs:attribute name="prodid" type="xs:string" />
    <xs:attribute name="achid" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="AchievementNotification" >
    <xs:sequence>
      <xs:element name="data" type="tns:AchievementNotificationPayload" />
    </xs:sequence>
    <xs:attribute name="uid" type="xs:unsignedLong" />
    <xs:attribute name="ts" type="xs:unsignedLong" />
    <xs:attribute name="ctx" type="xs:string" />
    <xs:attribute name="verb" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="Version">
    <xs:sequence>
      <xs:element name="file" type="xs:string" />
      <xs:element name="revision" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AchievementConfig">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean" default="true" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubscriptionConfig">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean" default="true" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="urls">
    <xs:sequence>
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="MiscConfig" >
    <xs:sequence>
      <xs:element name="onlineLoginPath" type="xs:string" default="p/pc/login" />
      <xs:element name="offlineLoginPath" type="xs:string" default="p/pc/offline" />
      <xs:element name="newAccountPath" type="xs:string" default="p/pc/create" />
      <xs:element name="supportErrorDescription" type="xs:boolean" default="true" />
      <xs:element name="voipSurveyFrequency" type="xs:double" default="0.2" />
      <xs:element name="voipEnable" type="xs:string" default="all" />
      <xs:element name="voipJitterBufferSize" type="xs:long" minOccurs="0" default="4" />
      <xs:element name="voipNetworkQualityPingStartupDuration" type="xs:long" minOccurs="0" default="3000" />
      <xs:element name="voipNetworkQualityPingShortInterval" type="xs:long" minOccurs="0" default="200" />
      <xs:element name="voipNetworkQualityPingLongInterval" type="xs:long" minOccurs="0" default="2000" />
      <xs:element name="enable2kFriends" type="xs:boolean" />      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClientAccessWhiteListUrls">
    <xs:sequence>
      <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ECommerceConfig" >
    <xs:sequence>
      <xs:element name="addonPreviewProductId" type="xs:string" minOccurs="0" default="OFB-EAST:46353" />
      <xs:element name="refreshEntitlementsOnDirtyBits" type="xs:boolean" minOccurs="0" default="true" />
      <xs:element name="dirtyBitsEntitlementRefreshTimeout" type="xs:long" minOccurs="0" default="5000" />
      <xs:element name="dirtyBitsTelemetryDelay" type="xs:long" minOccurs="0" default="1800000" />
      <xs:element name="fullEntitlementRefreshThrottle" type="xs:long" minOccurs="0" default="60000" />
      <xs:element name="entitlementSignatureVerificationDisabled" type="xs:boolean" minOccurs="0" default="false" />
      <xs:element name="catalogDefinitionLookupTelemetryInterval" type="xs:long" minOccurs="0" default="1800000" />
      <xs:element name="catalogDefinitionLookupRetryInterval" type="xs:long" minOccurs="0" default="300000" />
      <xs:element name="catalogDefinitionRefreshInterval" type="xs:long" minOccurs="0" default="0" />
      <xs:element name="catalogDefinitionMaxAgeDays" type="xs:long" minOccurs="0" default="90" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TelemetrySDK14" >
    <xs:sequence>
      <xs:element name="endPoint" type="xs:string" default="https://river.data.ea.com" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="HookBlacklist" >
    <xs:sequence>
      <xs:element name="hooks" type="xs:string" default="" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CountryBlacklist" >
    <xs:sequence>
      <xs:element name="countries" type="xs:string" default="" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TelemetryConfig" >
    <xs:sequence>
      <xs:element name="serverAddress" type="xs:string" default="159.153.235.32" />
      <xs:element name="serverPort" type="xs:int" default="9988" />
      <xs:element name="TelemetrySDK14" type="tns:TelemetrySDK14" />
      <xs:element name="HookBlacklist" type="tns:HookBlacklist" />
      <xs:element name="CountryBlacklist" type="tns:CountryBlacklist" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="URL">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="URLs">
    <xs:sequence>
      <xs:element name="URLs" type="tns:URL" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConnectionURLs">
    <xs:sequence>
      <xs:element name="URLs" type="tns:URLs" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ODTPlugin">
    <xs:sequence>
      <xs:element name="productId" type="xs:string" default="Origin.OFR.50.0000853" />
      <xs:element name="pcPath" type="xs:string" default="%PluginsDir%/OriginDeveloperTool/OriginDeveloperTool.dll" />
      <xs:element name="macPath" type="xs:string" default="%PluginsDir%/OriginDeveloperTool.plugin/Contents/MacOS/OriginDeveloperTool.dylib" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OriginConfig">
    <xs:sequence>
      <xs:element name="Version" type="tns:Version" />
      <xs:element name="AchievementConfig" type="tns:AchievementConfig" />
      <xs:element name="MiscConfig" type="tns:MiscConfig" />
      <xs:element name="ClientAccessWhiteListUrls" type="tns:ClientAccessWhiteListUrls" />
      <xs:element name="ECommerceConfig" type="tns:ECommerceConfig" />
      <xs:element name="TelemetryConfig" type="tns:TelemetryConfig" />
      <xs:element name="ODTPlugin" type="tns:ODTPlugin" />
      <xs:element name="ConnectionURLs" type="tns:ConnectionURLs" />
      <xs:element name="SubscriptionConfig" type="tns:SubscriptionConfig" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dirtybitEntitlement">
    <xs:attribute name="pid" type="xs:unsignedLong"/>
    <xs:attribute name="entId" type="xs:string"/>
    <xs:attribute name="offerId" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="dirtybitEntitlementData">
    <xs:sequence>
      <xs:element name="data" type="tns:dirtybitEntitlement" />
    </xs:sequence>
    <xs:attribute name="ctx" type="xs:string"/>
    <xs:attribute name="verb" type="xs:string"/>
    <xs:attribute name="ts" type="xs:unsignedLong"/>
    <xs:attribute name="uid" type="xs:unsignedLong"/>
    <xs:attribute name="ver" type="xs:int"/>
  </xs:complexType>

  <!--{"ver":1,"uid":1000001520859,"ts":1371217132577,"ctx":"originid","verb":"upd","data":{"pid":1000001520859,"old":"jwadebuytest12b","new":"jwade_buy_test12"}}-->

  <xs:complexType name="dirtybitChangeNotificationPayload">
    <xs:attribute name="old" alias="oldOriginId" type="xs:string"/>
    <xs:attribute name="new" alias="newOriginId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="dirtybitChangeNotification">
    <xs:sequence>
      <xs:element name="data" type="tns:dirtybitChangeNotificationPayload" />
    </xs:sequence>
    <xs:attribute name="ctx" type="xs:string"/>
    <xs:attribute name="verb" type="xs:string"/>
    <xs:attribute name="ts" type="xs:unsignedLong"/>
    <xs:attribute name="uid" type="xs:unsignedLong"/>
    <xs:attribute name="ver" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="burnTimeResponse">
    <xs:attribute name="hasTimeLeft" type="xs:boolean"/>
    <xs:attribute name="intervalSec" type="xs:int"/>
    <xs:attribute name="leftTrialSec" type="xs:int"/>
    <xs:attribute name="totalTrialSec" type="xs:int"/>
    <xs:attribute name="timeTicket" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="burnTime">
    <xs:sequence>
      <xs:element name="burnTimeResponse" type="tns:burnTimeResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="checkTimeResponse">
    <xs:attribute name="hasTimeLeft" type="xs:boolean"/>
    <xs:attribute name="leftTrialSec" type="xs:int"/>
    <xs:attribute name="totalTrialSec" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="checkTime">
    <xs:sequence>
      <xs:element name="checkTimeResponse" type="tns:checkTimeResponse"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="grantTimeResponse">
    <xs:attribute name="hasTimeLeft" type="xs:boolean"/>
    <xs:attribute name="leftTrialSec" type="xs:int"/>
    <xs:attribute name="totalTrialSec" type="xs:int"/>
    <xs:attribute name="grantedSec" type="xs:int"/>
    <xs:attribute name="totalGrantedSec" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="grantTime">
    <xs:sequence>
      <xs:element name="grantTimeResponse" type="tns:grantTimeResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dirtybitVaultChangeNotificationPayload">
    <xs:sequence>
      <xs:element name="newVaultGames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="deletedVaultGames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="changedVaultGames" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="msgType" type="xs:string"/>
  </xs:complexType>


  <xs:complexType name="dirtybitVaultChangeNotification">
    <xs:sequence>
      <xs:element name="data" type="tns:dirtybitVaultChangeNotificationPayload" />
    </xs:sequence>
    <xs:attribute name="ctx" type="xs:string"/>
    <xs:attribute name="verb" type="xs:string"/>
    <xs:attribute name="ts" type="xs:unsignedLong"/>
    <xs:attribute name="uid" type="xs:unsignedLong"/>
    <xs:attribute name="ver" type="xs:int"/>
  </xs:complexType>


  <xs:complexType name="SubscriptionInfo">
    <xs:sequence>
      <xs:element name="subscriptionUri" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="firstSignUpDate" type="xs:string"/>
    <xs:attribute name="firstSignUpSubs" type="xs:string"/>
  </xs:complexType>


  <xs:simpleType name="SubscriptionStatus">
    <xs:annotation>
      <xs:documentation>These enums reflect the status the subscription can be in.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:enumeration id="UNKNOWN" value="0">
        <xs:annotation>
          <xs:documentation>When an unknown enum value is returned, or never set UNKNOWN will be returned.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="CREATED" value="1">
        <xs:annotation>
          <xs:documentation>The Subscription is in the created state. Not sure the client will ever see this state.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="ENABLED" value="2">
        <xs:annotation>
          <xs:documentation>This is the normal status when the subscription is active.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="EXPIRED" value="3">
        <xs:annotation>
          <xs:documentation>When the payment method lapses. The subscription will be expired.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="DISABLED" value="4">
        <xs:annotation>
          <xs:documentation>The subscription has been disabled by CE.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="CONVERTED" value="5">
        <xs:annotation>
          <xs:documentation>Not sure the client will ever see this state.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="PENDINGEXPIRED" value="6">
        <xs:annotation>
          <xs:documentation>The user canceled the recurring payment. The subscription will expire on the billing date.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration id="SUSPENDED" value="7">
        <xs:annotation>
          <xs:documentation>Not sure the client will ever see this state.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="BillingMode">
    <xs:restriction base="xs:int">
      <xs:enumeration id="UNKNOWN" value="0"/>
      <xs:enumeration id="RECURRING" value="1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="PropertiesInfo">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="ScheduleOperation">
    <xs:sequence>
      <xs:element name="Properties" type="tns:PropertiesInfo" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="operationId" type="xs:unsignedLong"/>
    <xs:attribute name="operationName" type="xs:string" />
    <xs:attribute name="scheduleDate" type="xs:string" />
    <xs:attribute name="status" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="GetScheduleOperationResponse">
    <xs:sequence>
      <xs:element name="ScheduleOperation" type="tns:ScheduleOperation" minOccurs="0" maxOccurs="unbounded"/> 
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SubscriptionEvent">
    <xs:sequence>
      <xs:element name="Properties" type="tns:PropertiesInfo" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="eventDate" type="xs:string" />
    <xs:attribute name="eventId" type="xs:unsignedLong"/>
    <xs:attribute name="eventStatus" type="xs:string" />
    <xs:attribute name="eventType" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="GetSubscriptionEventsResponse">
    <xs:sequence>
      <xs:element name="SubscriptionEvent" type="tns:SubscriptionEvent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubscriptionType">
    <xs:sequence>
      <xs:element name="PropertiesInfo" type="tns:PropertiesInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="accountUri" type="xs:string" />
    <xs:attribute name="anniversaryDay" type="xs:int"/>
    <xs:attribute name="billingMode" type="tns:BillingMode" />
    <xs:attribute name="dateCreated" type="xs:string"/>
    <xs:attribute name="dateModified" type="xs:string"/>
    <xs:attribute name="entitlementsUri" type="xs:string" />
    <xs:attribute name="eventsUri" type="xs:string" />
    <xs:attribute name="freeTrial" type="xs:boolean" />
    <xs:attribute name="invoicesUri" type="xs:string" />
    <xs:attribute name="offerUri" type="xs:string" />
    <xs:attribute name="scheduleOpesUri" type="xs:string" />
    <xs:attribute name="source" type="xs:string" />
    <xs:attribute name="status" type="tns:SubscriptionStatus" />
    <xs:attribute name="subscriptionUri" type="xs:string" />
    <xs:attribute name="subsEnd" type="xs:string"/>
    <xs:attribute name="subsStart" type="xs:string"/>
    <xs:attribute name="userUri" type="xs:string" />
  </xs:complexType>

  <xs:complexType name="SubscriptionDetailInfo">
    <xs:sequence>
      <xs:element name="Subscription" type="tns:SubscriptionType"/>
      <xs:element name="GetScheduleOperationResponse" type="tns:GetScheduleOperationResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MasterTitleIds">
    <xs:sequence>
      <xs:element name="masterTitleId" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Basegames">
    <xs:sequence>
      <xs:element name="basegame" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ExtraContent">
    <xs:sequence>
      <xs:element name="extracontent" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="game">
    <xs:annotation>
      <xs:documentation>A structure that contains information about the game in the subscription.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="displayName" type="xs:string">
        <xs:annotation>
          <xs:documentation>A human readable name for the game. Not used in code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="masterTitleIds" type="tns:MasterTitleIds" >
        <xs:annotation>
          <xs:documentation>All the mastertitles involved in this game. This is used to gather the basegames and DLC the user is entitled too, so an upgrade button can be show.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="basegames" type="tns:Basegames" >
        <xs:annotation>
          <xs:documentation>The base games that this subscription game offer will award.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extracontents" type="tns:ExtraContent" >
        <xs:annotation>
          <xs:documentation>The DLC/ULC this subscription game offer will award.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="offerId" type="xs:string">
      <xs:annotation>
        <xs:documentation>The redemption offer for this vault title.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="gameEditionTypeFacetKeyRankDesc" alias="rank" default="-1" type="xs:int">
      <xs:annotation>
        <xs:documentation>How the vault game is ranked compared to other titles.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="SubscriptionVaultInfo">
    <xs:sequence>
      <xs:element name="vaultGameInfo" type="tns:game" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RedemptionResponse">
    <xs:sequence>
      <xs:element name="entitlements" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="success" type="xs:boolean" />
    <xs:attribute name="error" type="xs:string" />
  </xs:complexType>

</xs:schema>


