Origin Client/global_online/origin/x/gittest3/branches/task2/components/src/directives/user/xsd/info.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="origin-user-info" type="UserInfoType">
    </xs:element>
    <xs:complexType name="UserInfoType">
        <xs:attribute name="messagestr" type="xs:string" needsTranslation="true" defaultTranslation="Message" />
        <xs:attribute name="joingamestr" type="xs:string" needsTranslation="true" defaultTranslation="Join Game" />
        <xs:attribute name="currentlyplayingstr" type="xs:string" needsTranslation="true" defaultTranslation="Currently Playing %game%." />
        <xs:attribute name="nucleusId" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>